venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
build/
dist/
.git
.gitignore
Dockerfile
docker-compose.yml
In Azure Cloud Shell:

-----------------------------------
az aks start --resource-group flask-portfolio-rg --name flask-portfolio-aks
az aks get-credentials --resource-group flask-portfolio-rg --name flask-portfolio-aks
az aks stop --resource-group flask-portfolio-rg --name flask-portfolio-aks